body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

a {
  text-decoration: none;
}

.carousel {
  margin-bottom: 4rem;
}

.carousel-caption {
  bottom: 3rem;
  z-index: 10;
}

.carousel-item {
  height: 75vh;
}

@media (min-width: 40em) {
    .carousel-caption p {
      margin-bottom: 1.25rem;
      font-size: 1.25rem;
      line-height: 1.4;
    }
  
    .featurette-heading {
      font-size: 50px;
    }
  }
  
  @media (min-width: 62em) {
    .featurette-heading {
      margin-top: 7rem;
    }
  }
  
  .featurette-heading {
    letter-spacing: -.05rem;
  }

  .featurette-divider {
    margin: 5rem 0;
  }
  
  .marketing .col-lg-4 {
    margin-bottom: 1.5rem;
    text-align: center;
  }

  .marketing .col-lg-4 p {
    margin-right: .75rem;
    margin-left: .75rem;
  }

.c-img{
  height: 100%;
  object-fit: cover;
}

@media (min-width: 768px) {
  .c-img {
    height: 100%;
    object-fit: cover;
    object-position: 50% 20%;
  }
}

#myCarousel .carousel-item:before{
  content:"";
  background-image: linear-gradient(to bottom, transparent, rgba(0,0,0,0.5));
  display: block;
  position: absolute;
  top: 0;
  width: 100vw;
  height: 100vh;
}

.card-img-top {
    width: 100%;
    height: 20vh;
    object-fit: cover;
}

.form-signin {
  max-width: 330px;
  padding: 1rem;
}

.form-signin .form-floating:focus-within {
  z-index: 2;
}

.theme-toggle-btn {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 50px;
  height: 50px;
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.33;
  border-radius: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}